@model ShopVinhUniversity.Entities.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ThumbnailSrc" class="control-label"></label>
                <input id="product-create-thumbnailsrc-text" asp-for="ThumbnailSrc" class="form-control image-input" />
                <input id="product-create-thumbnailsrc-file" type="file" accept="image/*" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<style scoped>
    .image-input {
        display: none;
    }
</style>

<script type="text/javascript">
    (() => {
        document.getElementById('product-create-thumbnailsrc-file').onchange = async function () {
            if (this.files && this.files[0]) {
                document.getElementById('product-create-thumbnailsrc-text').value = await toBase64(this.files[0]);
            }
        };
    })();

    const toBase64 = file => new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = error => reject(error);
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
